.pages-numbers {
    display: flex;
    margin-top: 30px;
}

.prevnext-square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background: #1a92c7;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    cursor: pointer;
}
.prevnext-square:hover {
    background: #0677a8;
    transition: 0.2s;
}

.number-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #1a92c7;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 15px;
}
.number-square:hover {
    background: #0677a8;
    transition: 0.2s;
}
.number-square.active {
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: #1a92c7 2px solid;
    color: #1a92c7
}
.number-square.active:hover {
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: #1a92c7 2px solid;
    color: #1a92c7
}

.prevnext {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

@media all and (max-width: 600px) {

    .prevnext-square {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 27px;
        width: 27px;
        background: #1a92c7;
        color: rgb(255, 255, 255);
        border-radius: 2px;
        cursor: pointer;
    }

    .number-square {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 27px;
        background: #1a92c7;
        color: rgb(255, 255, 255);
        font-weight: 600;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 10px;
    }
    .number-square:hover {
        background: #0677a8;
        transition: 0.2s;
    }
    .number-square.active {
        width: 24px;
        height: 24px;
        background: #ffffff;
        border: #1a92c7 2px solid;
        color: #1a92c7
    }
    .number-square.active:hover {
        width: 24px;
        height: 24px;
        background: #ffffff;
        border: #1a92c7 2px solid;
        color: #1a92c7
    }
    
    .prevnext {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }
    

}